@model EmployeeMangement.Models.Pagination.Pagination<ShowAll>

@{
    ViewBag.Title = "Home";
    @functions
        {
        public string currency(decimal money1)
        {
            var vietnam = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            string money2 = String.Format(vietnam, "{0:c}", money1);
            int start = money2.Length - 1;
            return money2.Replace(",00", "");
        }
    }
}


<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        @foreach (var item in Model.bannerModels)
        {
            <li class="text-left">
                <img src="@Url.Content($"~/images/banner/{item.BannerPhoto}")" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>@item.BannerName</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>

<!-- Start Categories  -->
<div class="categories-shop">

    <div class="container">
        <div class="row">
            @foreach (var item in Model.categoriesShow)
            {

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="@Url.Content($"~/images/Category/{item.Logo}")" style="height:200px" alt="" />
                        <a class="btn hvr-hover" asp-controller="Home" asp-action="Index" asp-route-categoryId="@item.CategoryId">@item.CategoryName</a>
                    </div>
                </div>
            }


        </div>
    </div>



</div>
<!-- End Categories -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Đảm Bảo Hàng Chính Hãng</h1>

                </div>
            </div>
        </div>
        <div class="row special-list">
            @foreach (var item in Model.ListItems)
            {
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="~/images/Product/@item.ImagePath" class="d-block w-100" alt="..." style="height:350px">
                            <div class="mask-icon">
                                <ul>
                                    <li><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" asp-controller="Cart" asp-action="AddToCart" asp-route-productid="@item.ProductId">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>@item.ProductName</h4>
                            <h5>@currency(item.Price)</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-1 mb-0 ">
            <div class="col-12 ml-3">
                <ul class="pagination" style="margin-left:40%">
                    <li class="@(Model.Pager.CurrentPage == 1 ? "page-item disabled" : "page-item")"><a class="page-link" asp-controller="Home" asp-action="index" asp-route-currenPage="1">First</a></li>
                    <li class="@(Model.Pager.CurrentPage == 1 ? "page-item disabled" : "page-item")"><a class="page-link" asp-controller="Home" asp-action="index" asp-route-currenPage="@(Model.Pager.CurrentPage-1)">Previous</a></li>
                    @for (int i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                    {
                        <li class="@(Model.Pager.CurrentPage == i ? "page-item active" : "page-item")"><a class="page-link" asp-controller="Home" asp-action="index" asp-route-currenPage="@i">@i</a></li>
                    }
                    <li class="@(Model.Pager.CurrentPage == Model.Pager.TotalPages ? "page-item disabled" : "page-item")"><a class="page-link" asp-controller="Home" asp-action="index" asp-route-currenPage="@(Model.Pager.CurrentPage+1)">Next</a></li>
                    <li class="@(Model.Pager.CurrentPage == Model.Pager.TotalPages ? "page-item disabled" : "page-item")"><a class="page-link" asp-controller="Home" asp-action="index" asp-route-currenPage="@Model.Pager.TotalPages">Last</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Products  -->
<!-- Start Blog  -->
@*<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>latest blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-01.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-02.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div*@>
<!-- End Blog  -->
<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        
            <div class="item" >
                <div class="ins-inner-box">
                    <img src="~/images/Insta/97634_pair_large.jpg" style="height:200px" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/images/Insta/AIRFORCE.jpg" style="height:200px" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/images/Insta/cu0430-0013.jpg" style="height:200px" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/images/Insta/download (1).jpg" style="height:200px"alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/images/Insta/e42026e073bdeb6c8ac25345588310da.jpg"style="height:200px" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/images/Insta/giay-nike-air-max-2090-wolf-grey-bv9977-002-mau-xam-5ff9274a93e41-09012021104722.jpg"style="height:200px" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
     </div>
    
</div>
<!-- End Instagram Feed  -->